body {
    background-color: #F0F1F3;
}

header {
    background-color: #AFC0D7;
    padding: 10px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #1F2122;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #AFC0D7;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-color: #D6DDE8;
}

#navbar a {
    font-family: 'Handlee', cursive;
    font-size: 1.25em;
    float: left;
    display: block;
    color: #1F2122;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #D6DDE8;
    color: #575C63;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    margin-top: 2%;
    margin-left: 8%;
    color: #575C63;
}

#images {
    justify-content: center;
}

#image-gallery {
    display: grid;
	grid-template-columns: auto auto auto;
}

figure {
    text-align: center;
}

img {
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #AFC0D7;
}

figcaption {
    font-family: 'Handlee', cursive;
    font-size: 20px;
    text-align: left;
    color: #575C63;
    margin-left: 15%;
    margin-right: 15%;
}

#about-image {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#about-text {
    width: 60%;
    margin: auto;
}

p {
    font-family: 'Handlee', cursive;
    font-size: 1.25em;
    color: #1F2122;
    text-indent: 2em;
}

footer {
    background-color: #AFC0D7;
    position: absolute;
    width: 99.5%;
    height: 7%;
    margin-top: 5%;
}